.main-content{    
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Inter;
    margin:0px 10px;   
    padding:10px;      
    background-color: beige;
}

.card{
    display: flex;
    align-items: center;
    width:1020px;
    margin:40px;  
}


.img-container img{
    width: 325px;
    height: 368px;
    border-radius:15px;
    margin-right:20px;
    
}


.content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left:30px;
}

.upper-content{
    display: flex;
    align-items: center;
}

.upper-content span{
    margin-left:10px;

}

.upper-content a{
    margin-left:20px;
}

.content  h1{
    font-weight: 700px;      
    margin-top: 6px;
}

.container{
    font-weight: 700px;
    font-size:24px;
    margin-top:10px;
}

.description{    
    font-size: 19px;

}